# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Data & Artifacts
artifacts/
*.csv
*.pkl
*.joblib

# VSCode / IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
